.btn-purple {
    background-color: #110b42;
}

.border-purple {
    border: 2px solid #110b42;
}

@media(min-width: 576px) {
    .modal-dialog {
        max-width: 730px;
    }
}

.modal-body textarea {
    max-width: 100%;
}
